/** Padding between cards and artifact info**/
.cardsDiv {
   padding-top: 10px;
   padding-left: 10px;
}

.card {
   width: 250px;
   height: 300px;
   padding: 30px;
}

.card .artifactImage {
   width: 150px;
}

.cardSpec1, .cardSpec2, .cardSpec3, .card, .card p, .card mat-card-content, .card .mat-card-header, .card .mat-card-title, .card .mat-card-subtitle, .card .mat-card-image {
   background-color: #fcd7d4;
   border-radius: 25px;
}

.artifactInfo {
   width: 80%;
   min-height: 200px;
   background-color: #e8e6e6;
   border-radius: 25px;
   margin: 25px;
   padding: 20px;
}

.red {
   background-color: #e61e28;
   border: 2px solid black;
   border-radius: 5px;
    padding: 0px 3px 0 3px;
}

.green {
   background-color: #6cc141;
   border: 2px solid black;
   border-radius: 5px;
    padding: 0px 3px 0 3px;
}

.yellow {
   background-color: #ffd104;
   border: 2px solid black;
   border-radius: 5px;
    padding: 0px 3px 0 3px;
}