/** Remove double scroll bars **/
::ng-deep .mat-tab-body-content {
	overflow: hidden !IMPORTANT;
}

/** Top nav bar **/
::ng-deep .mat-tab-header {
	background-color: #deb633;
}

body {
  background-color: #87b23e;
}