
<div fxLayout="row wrap" fxLayoutGap="16px grid" class="cardsDiv">
  <div *ngFor="let playableHero of allPlayableHeroes" fxLayout="column" fxLayoutAlign="none" class="cardSpec{{ playableHero.rarity }} cardContainer">
    <mat-card class="card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ playableHero.Name }}</mat-card-title>
        <mat-card-subtitle> {{ playableHero.Specialty }}</mat-card-subtitle>
      </mat-card-header>
      <div class="cardImageContainer">
        <img mat-card-image class="heroImage" src="assets/images/heros/{{playableHero.name}}.png" alt="{{ playableHero.name }}">
        <img mat-card-image class="specImage" src="assets/images/specs/{{playableHero.specType}}.png" alt="{{ playableHero.specType }}">
        <img mat-card-image class="specInfoImage" src="assets/images/info.png" alt="info">
      </div>
      <mat-card-content>
        <p class="generalInfo heroTitle">{{ playableHero.name }}</p>
        <p class="generalInfo">Specialty: {{playableHero.specialty}} </p>
        <p class="generalInfo">Rarity: {{ playableHero.rarity }}</p>
        <mat-divider></mat-divider>
        <p>SpecDamage: {{playableHero.specdamage}}</p>
        <p>SpecDelay: {{playableHero.specdelay}}</p>
        <mat-divider></mat-divider>
        <p>HP: {{ playableHero.hp }}</p>
        <mat-divider></mat-divider>
        <p>Damage: {{ playableHero.meleedamage }}</p>
        <p>Damage Delay: {{ playableHero.meleedelay }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>