/** Padding between top nav bar and cards **/
.cardsDiv {
	padding-top: 20px;
}

.cardContainer {
  margin: 20px;
}

.card {
   width: 250px;
   height: 600px;
   padding: 30px;
}

.card .heroImage {
   width: 200px;
}

.card .specImage {
   width: 80px;
   float: right;
}

.card .specInfoImage {
  width: 30px;
  float: right;
  margin-right: -68px;
}

/** So each hero card takes up the same space, despite being different heights **/
.cardImageContainer {
	height: 250px;
}

.cardSpec1, .cardSpec2, .cardSpec3, .card, .card p, .card mat-card-content, .card .mat-card-header, .card .mat-card-title, .card .mat-card-subtitle, .card .mat-card-image {
   background-color: #361d03; /*#fff1f0;*/
   border-radius: 25px;
}

.cardSpec1 {
	border: 5px solid #33cc33;
}

.cardSpec2 {
	border: 5px solid #ff9900;
}

.cardSpec3 {
	border: 5px solid #cc99ff;
}

.card p {
  color: #ffffcc;
}

.card .generalInfo {
	color: red;
}

.card .heroTitle {
	font-weight: bold;
}